service firebase.storage {
  match /b/{bucket}/o {
    match /user {
      match /avatars/iam/{allPaths=**} {
        allow write: if request.resource.size < 10 * 1024 * 1024 && request.resource.contentType.matches('image/.*') && request.auth.token['user'];
        allow read: if request.auth.token['user'];
      }

      match /avatars/profile/{userId}/{allPaths=**} {
        allow write: if request.resource.size < 10 * 1024 * 1024 && request.resource.contentType.matches('image/.*') && request.auth.uid == userId;
        allow read: if request.auth.uid == userId;
      }
    }

    match /booking {
      match /photos/{allPaths=**} {
        allow write: if request.resource.size < 3000000 && request.resource.contentType.matches('image/.*') && request.auth.token['booking'];
        allow read: if request.auth.token['booking'];
      }
      match /receipt/{allPaths=**} {
        allow write: if request.resource.size < 3000000 && request.auth.token['booking'];
        allow read: if request.auth.token['booking'];
      }
    }
  }
}
